<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<th:block th:replace="layout/frg::head"></th:block>
<title><th:block th:text="#{app.name}"></th:block> :: <th:block
		th:text="#{batches}"></th:block></title>
</head>
<body class="rc-body">
	<div th:substituteby="layout/navbar :: navbar('view-batches')"></div>
	<!-- <div id="menu" th:replace="frg :: menu('deliver')"></div> -->
	<div class="lightbox container center">
		<div th:replace="layout/frg::success-messages"></div>
		<div class="rc-filter-container">
			<form th:object="${batchListForm}">
				<th:block th:if="${#fields.hasErrors('global')}">
					<div class="alert alert-danger"
						th:each="err : ${#fields.errors('global')}" th:text="${err}">Generic
						Error</div>
				</th:block>
				<input type="hidden" th:field="*{pageSize}" /> <input type="hidden"
					th:field="*{page}" />
			</form>


		</div>
		<div class="container-fluid nav navbar-nav navbar-right">
			<div class="btn-group">
				<button class="btn btn-primary btn-md dropdown-toggle" type="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span th:text="#{generic.pagination}"></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu"
					th:with="strList = ${ {1, 2, 5, 10, 20, 50, 100} }">
					<li th:classappend="${pageSize == s} ? active"
						th:each="s : ${strList}"><a th:text="${s}"
						th:href="@{${@currentUrlWithoutParam.apply('page,pageSize,search')}(page=${batchListForm.page},pageSize=${s},search=${batchListForm.search})}"></a>

					</li>
				</ul>
			</div>
		</div>
		<div class="pull-right">
			<ul class="nav navbar-nav">
				<li class="form-group"><input type="text" id="myInput"
					class="form-control" onkeyup="tableSearchOneColumn()"
					placeholder="Search for batch by id" title="Type batch id" /></li>

			</ul>

		</div>
		<form th:action="@{/app/create-batch}" method="post">
			<button type="submit" th:title="#{batch.add}"
				class="btn btn-large btn-default">
				<i class="fa fa-plus"></i>
			</button>
		</form>
		<table id="myTable" class="table table-bordered table-hover">
			<thead>
				<tr>
					<td th:text="#{batch-list.vehicle-owner.batch-id}"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="batch : ${batchList}">
					<td
						th:text="#{batch-list.vehicle-owner.batch-id}+' :'+${batch.batchId}">1</td>
					<td>
						<div class="btn-group">
							<a th:href="@{/app/vehicleOwners/(batchId=${batch.batchId})}"
								class="btn btn-large btn-info"> <i class="fa fa-users"
								aria-hidden="true"></i> <span
								th:text="#{batch-list.vehicle-owner.view-list}"> </span>
							</a>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-large btn-success"
								th:href="@{/results/process/(batchId=${batch.batchId})}"> <i
								class="fa fa-step-forward" aria-hidden="true"></i> <span
								th:text="#{default-process-msg}"></span>
							</a>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-large btn-primary"
								th:href="@{'/results/' + ${batch.batchId}}"> <i
								class="fa fa-history" aria-hidden="true"></i> <span
								th:text="#{batch.process-result.past}"> </span>
							</a>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-large btn-warning"
								th:href="@{/app/create(batchId=${batch.batchId})}"> <i
								class="fa fa-user-plus" aria-hidden="true"></i> <span
								th:text="#{batch-list.vehicle-owner.add-new}"> </span>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<ul class="pagination" th:if="${pageCount > 0}">
				<li th:if="${start == true}"><a
					th:href="@{${@currentUrlWithoutParam.apply('page,pageSize,search')}(page=${1},pageSize=${batchListForm.pageSize},search=${batchListForm.search})}"
					th:text="${1}"> </a></li>

				<li th:if="${dotsPrev == true}"><a
					th:href="@{${@currentUrlWithoutParam.apply('page,pageSize,search')}(page=${batchListForm.page-2},pageSize=${batchListForm.pageSize},search=${batchListForm.search})}">...</a>
				</li>
				<li th:each="pageIndex: ${#numbers.sequence(startIndex, endIndex)}"
					th:classappend="${batchListForm.page == pageIndex} ? active">
					<a
					th:href="@{${@currentUrlWithoutParam.apply('page,pageSize,search')}(page=${pageIndex},pageSize=${batchListForm.pageSize},search=${batchListForm.search})}"
					th:text="${pageIndex}">1</a>
				</li>
				<li th:if="${dotsNext == true}"><a
					th:href="@{${@currentUrlWithoutParam.apply('page,pageSize,search')}(page=${batchListForm.page+4},pageSize=${batchListForm.pageSize},search=${batchListForm.search})}">...</a>
				</li>
				<li th:if="${end == true}"><a
					th:href="@{${@currentUrlWithoutParam.apply('page,pageSize,search')}(page=${pageCount},pageSize=${batchListForm.pageSize},search=${batchListForm.search})}"
					th:text="${pageCount}"> </a></li>


			</ul>
		</div>
	</div>
	<th:block th:replace="layout/frg::footer-js"></th:block>
</body>
</html>