<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<th:block th:replace="layout/frg::head"></th:block>
<title><th:block th:text="#{app.name}"></th:block> </title>
</head>
<body>

        <div th:substituteby="layout/navbar :: navbar('home')"></div>
        <div class="lightbox">
            <div class="container container-table">
                <div class="row vertical-center-row">
                    <div class="jumbotron">
                        <h1 th:text="#{application-description}"></h1>
                        <p th:text="#{application-utility}" class="lead"></p>
                    </div>
                </div>
            </div>
            <div class="bg">
                <img th:src="@{/images/aglomeratie_cluj.jpg}" />
            </div>
        </div>
        <th:block th:replace="layout/frg::footer-js"></th:block>

</body>
</html>
