<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head">
<title th:text="#{default-success-msg}"></title>
</head>
<body th:onload="'paginationFunction(\''+${currentPage.get(0)}+ '\',\''+${currentPage.get(3)}+'\');'">
    <div th:substituteby="layout/navbar :: navbar"></div>
    <div class="lightbox">
        <div class="container">
            <script type="text/javascript" th:src="@{/js/tableSearch.js}"></script>
            <script type="text/javascript" th:src="@{/js/result.js}"></script>
            <section layout:fragment="content">
                <div layout:fragment="content">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Select page size<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a
                                            th:href="@{/process/results/(batchId=${batchId},pageSize=${5},currentPage=${currentPage.get(0)})}">5</a></li>
                                        <li><a
                                            th:href="@{/process/results/(batchId=${batchId},pageSize=${10},currentPage=${currentPage.get(0)})}">10</a></li>
                                        <li><a
                                            th:href="@{/process/results/(batchId=${batchId},pageSize=${15},currentPage=${currentPage.get(0)})}">15</a></li>
                                        <li><a
                                            th:href="@{/process/results/(batchId=${batchId},pageSize=${20},currentPage=${currentPage.get(0)})}">20</a></li>
                                    </ul></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li class="form-group"><input type="text" id="myInput" class="form-control"
                                    onkeyup="tableSearchOneColumn()" placeholder="Search for batch by id" title="Type batch id" /></li>
                            </ul>
                        </div>
                    </div>
                    <table id="myTable" class="table table-bordered table-hover">
                        <tbody>
                            <tr th:if="${resultMetricsList.empty}">
                                <td th:text="#{result-metrics.no-results}" colspan="4"></td>
                            </tr>
                            <tr th:each="processResult,iter  : ${resultMetricsList}">
                            <tr>
                                <td style="color: black;" class="active" th:text="#{batch.process-result} "></td>
                            </tr>
                            <tr>
                                <td th:text="#{result-metrics.odd-to-even-ratio} + ': ' + ${processResult.oddToEvenRatio}" />
                            </tr>
                            <tr>
                                <td th:text="#{result-metrics.passed-reg-due-date} + ': ' + ${processResult.passedRegChangeDueDate}" />
                            </tr>
                            <tr>
                                <td th:text="#{result-metrics.result-process-time} + ': ' + ${processResult.resultProcessTime}" />
                            </tr>
                            <tr>
                                <td th:text="#{batch-list.vehicle-owner.batch-id} + ': ' + ${processResult.batchId}" />
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default" 
                                        th:onclick="'showUnregCars(\''+${iter.index}+ '\');'">
                                        <i class="fa fa-expand" aria-hidden="true"></i>
                                        <span th:text="#{btn-show} +' '+ #{result-metrics.unreg-cars}"></span>
                                        
                                        </button>
                                    <div th:id="'unregTable' + ${iter.index}" style="display: none" >
                                        <table style="color: black;" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <td  th:text="#{result-metrics.unreg-cars}"></td>
                                                </tr>
                                            </thead>
                                            <tbody id="unregCarsTabId" >
                                                <tr th:if="${processResult.unregCarsCountByJud.size() == 0}">
                                                    <td th:text="#{result-metrics.no-unreg-cars}" colspan="4"></td>
                                                </tr>
                                                <tr th:each="unregCarsByJud : ${processResult.unregCarsCountByJud}">
                                                    <td th:text="#{result-metrics.unreg-cars.judet}+' :' + ${unregCarsByJud.judet}">1</td>
                                                    <td th:text="#{result-metrics.unreg-cars.count}+' :' + ${unregCarsByJud.unregCarsCount}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default" 
                                        th:onclick="'showErrors(\''+${iter.index}+ '\');'">
                                        <i class="fa fa-expand" aria-hidden="true"></i>
                                        <span th:text="#{btn-show} +' '+ #{result-metrics.result-error}"></span>
                                        </button>
                                    <div th:id="'errorTable' + ${iter.index}" style="display: none">
                                        <table style="color: black;" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <td  th:text="#{result-metrics.result-error}"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:if="${processResult.resultErrors.size() == 0}">
                                                    <td colspan="4" th:text="#{result-metrics.no-errors}"></td>
                                                </tr>
                                                <tr th:each="error : ${processResult.resultErrors}">
                                                    <td th:text="#{result-metrics.result-error.type}+' :' + ${error.type}">1</td>
                                                    <td
                                                        th:text="#{result-metrics.result-error.vehicle-owner-id}+' :'+ ${error.vehicleOwnerId}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class='pagination pagination-centered'>
                    <ul id="pagination" class="pagination">
                        <li th:if="${numberOfPages.empty}">
                            <p colspan="4" th:text="#{vehicle-owners.input-batch.records.no-vehicle-owners}"></p>
                        </li>
                        <li><a id="start" th:text="0"
                            th:href="@{/process/results/(batchId=${batchId},pageSize=${pageSize},currentPage=0)}"></a></li>
                        <li><a id="dotsPrev" th:text="..."
                            th:href="@{/process/results/(batchId=${batchId},pageSize=${pageSize},currentPage=${currentPage.get(1)})}"></a></li>
                        <li th:each="page : ${numberOfPages}"><a href="#"
                            th:href="@{/process/results/(batchId=${batchId},pageSize=${pageSize},currentPage=${page})}" th:text="${page}">
                        </a> <span th:text="${page}" style="display: none"></span></li>
                        <li><a id="dotsNext" th:text="..."
                            th:href="@{/process/results/(batchId=${batchId},pageSize=${pageSize},currentPage=${currentPage.get(2)})}"></a></li>
                        <li><a id="end" th:text="${currentPage.get(3)}"
                            th:href="@{/process/results/(batchId=${batchId},pageSize=${pageSize},currentPage=${currentPage.get(3)})}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:substituteby="layout/footer :: footer"></div>
    </div>
    <script type="text/javascript" th:src="@{/js/pagination.js}"></script>
</body>
</html>
